<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong>ユーザー画像:</strong>
  <%= image_tag @user.image_url if @user.image.present? %>
</p>

<%= link_to "ユーザー情報を編集する", edit_user_path(@user.id) %>
<br>
<h1>お気に入りつぶやき一覧</h1>

<% @favorite_mutters.each do |a| %>
<%= a.mutter.content %>
<% end %>
