

<article class="content">
<br>
<h2>つぶやく</h2>

<%= form_with(model: @mutter, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @mutter.errors.any? %>
    <div id="error_explanation">
      <h2><%= @mutter.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @mutter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mutter_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :mutter_image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <%= form.submit %>
<% end %>
<br>
<%= link_to "つぶやき一覧へもどる", mutters_path %>
